.places {
  margin-top: 12px;
  max-width: 928px;
}

@media screen and (max-width: 900px) {
  .places {
    margin-top: 15px;
  }
}
@media screen and (max-width: 690px) {
  .places {
    margin-top: 14px;
  }
}
