.place__paragraphs {
  margin-bottom: 0;
  grid-row: auto;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media screen and (max-width: 660px) {
  .place__paragraphs {
    padding-left: 16px;
    padding-right: 16px;
  }
}
