.lead__image {
  margin-top: 64px;
  margin-bottom: 0;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1030px) {
  .lead__image {
    margin-top: 56px;
    max-width: 928px;
  }
}

@media screen and (max-width: 690px) {
  .lead__image {
    margin-top: 40px;
  }
}

