.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 984px;
}

@media screen and (max-width: 1270px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1020px) {
  .intro {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    max-width: 80%;
  }
}

@media screen and (max-width: 695px) {
  .intro {
    max-width: 320px;
  }
}

