.cover {
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 92px;
  width: 100%;
}

@media screen and (min-width: 1281px) {
  .cover {
    max-width: 1184px;
    min-height: 740px;
  }
}

@media screen and (max-width: 1280px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}
