.place__link {
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  margin-top: 12px;
  margin-bottom: 0;
  color: #ffff;
}
