.footer {
  color: #FFFFFF;
  width: 1184px;
  margin-top: 92px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  overflow: hidden;
}

@media screen and (max-width: 1030px) {
  .footer {
    max-width: 928px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 660px) {
  .footer {
    max-width: 320px;
    flex-direction: column;
    margin-top: 64px;
    gap: 48px;
  }
}
