.photo-grid__image {
  max-width: 290px;
  min-height: 213px;
  max-height: 264px;
}

@media screen and (max-width: 1278px) {
  .photo-grid__image {
    max-width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .photo-grid__image {
    max-width: 352px;
  }
}

@media screen and (max-width: 760px) {
  .photo-grid__image {
    max-width: 288px;
  }
}



